# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
assets/index.html
assets/.gitignore
assets/data.json
assets/README-template.md
assets/README.md
assets/style-guide.md
assets/time-tracking-dashboard-main.zip
assets/design/active-states.jpg
assets/design/desktop-design.jpg
assets/design/desktop-preview.jpg
assets/design/mobile-design.jpg
assets/images/favicon-32x32.png
assets/images/icon-ellipsis.svg
assets/images/icon-exercise.svg
assets/images/icon-play.svg
assets/images/icon-self-care.svg
assets/images/icon-social.svg
assets/images/icon-study.svg
assets/images/icon-work.svg
assets/images/image-jeremy.png
